nav
    .nav-wrapper
        a.brand-logo(href='/') HOME
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/') Bosh bolim 
            li
                a(href='/about') about
            li
                a(href='/user') user

